/* Установка стилей для body */
body {
  background-color: #292929;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/* Стили для блока ошибки */
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Стили для кода ошибки */
.code {
  font-size: 10em;
  font-weight: bold;
  letter-spacing: -10px;
  margin-bottom: 10px;
  position: relative;
}

.code:before, .code:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.code:before {
  top: -20px;
  left: -20px;
}

.code:after {
  bottom: -20px;
  right: -20px;
}

/* Стили для текста сообщения */
.message {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Стили для кнопки */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #292929;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff1e00;
  color: #fff;
}
